<div class="search-bar">
    <div class="export">
        Exportar:
        <a href="<?=export_url_report($this->section,$this->action,'csv')?>" class="csv" title="Exportar para CSV">Exportar para CSV</a>
        <!-- <a href="#" class="print" title="Imprimir">Imprimir</a> -->
    </div>

    <form action="<?=$this->url?>del-select/" method="post" class="order-form form-del-select">
        <input type="hidden" name="delpage" id="delpage" value="<?=$this->page?>" />
        <input type="hidden" name="delid" id="delid" value="" />
        <input type="submit" class="bt submit disabled" disabled value="Excluir selecionados" />
    </form>

    <?/*<form action="<?=$this->url?>new/" method="get" class="order-form">
        <input type="submit" class="bt" value="+ Adicionar" />
    </form>*/?>
    
    <form action="" method="get" class="search-form">
        <label for="search-by" class="search-label">Filtrar por:</label>
        <?=$this->formSelect('search-by',@$_GET['search-by'],array('class'=>'txt'),array(
            "nome"=>"Nome",
            "email"=>"E-mail",
            "mensagem"=>"Mensagem",
            // "mensagem_id"=>"Área",
        ))?>
        <?=@$_GET['search-by']=='mensagem_id'?
            $this->formSelect('search-txt',@$_GET['search-txt'],array('class'=>'txt','style'=>'width: 180px;'),$this->mensagens):
            $this->formText('search-txt',@$_GET['search-txt'],array('class'=>'txt'))?>
        De:
        <input type="text" name="data_from" id="data_from" class="txt mask-date" value="<?=@$_GET['data_from']?>" />
        Até:
        <input type="text" name="data_to" id="data_to" class="txt mask-date" value="<?=@$_GET['data_to']?>" />

        <? /*if($this->treinamentosKV){ ?>
        <br>
        <?=@$this->formSelect('search-treinamento',@$_GET['search-treinamento'],array('class'=>'txt'),$this->treinamentosKV)?>
        <? }*/ ?>

        <input type="submit" class="bt" value="Enviar" />
    </form>
</div>