<section id="advogados"><div class="main-center">

<h1>Advogados</h1>

<div class="txt-left">
	<h3>DANIEL VAREA</h3>
	<span class="socio">sócio</span>
	<br><br>

	<p>Em um cenário atual de transições principalmente nos setores de direito previdenciário e direito do trabalho, assume um papel diferenciado neste momento histórico de nosso país, onde as mudanças geram, necessariamente, capacidade técnica para a militância nestes importantes ramos do nosso direito.</p>

	<p><i>Responsável pelas áreas trabalhista, cível, família e sucessões.</i></p>

	<h4>DIPLOMAS</h4>
	<p>
		Bacharel em Direito pela FMU/SP, 2015 <br>
		Especialista em Direito do Trabalho pelo Mackenzie/SP, 2016
	</p>

	<h4>IDIOMAS</h4>
	<p>Português e Inglês</p>

	<h4>REFERÊNCIAS</h4>
	<p>Membro da Associação dos Advogados de São Paulo (AASP) e do Instituto dos Advogados de São Paulo (IASP).</p>
</div>

<div class="txt-right">
	<h3>ERICK DIONISIO</h3>
	<span class="socio">sócio</span>
	<br><br>

	<p>Militante da área penal, enfrenta a complexa dinâmica do direito criminal contemporâneo com seriedade e profissionalismo, desde a fase policial até a judicial, em casos que envolvam desde conflitos relacionados a pessoas físicas em suas mais variadas extensões e especialidades, à pessoas jurídicas, quando diante de demandas oriundas de "crimes empresariais" ou, especificamente, matéria que envolva "Direito Penal Econômico" .</p>

	<h4>DIPLOMAS</h4>
	<p>
		Bacharel em Direito pela FMU/SP, 2013
		Extensão em Direito Penal Econômico pela PUC/SP, 2016
	</p>

	<h4>IDIOMAS</h4>
	<p>Português e Inglês</p>

	<h4>REFERÊNCIAS</h4>
	<p>Membro do IBCCRIM - Instituto Brasileiro de Ciências Criminais. Membro da "Association Internationale de Droit Pénal" (AIDP). Membro da "International Association of Prosecutors" (IAP). Membro do Instituto de Ciências Penais (ICP), da Associação dos Advogados de São Paulo (AASP) e do Instituto dos Advogados de São Paulo (IASP).</p>
</div>

<br clear="all">
</div></section>