<section id="areas-atuacao"><div class="main-center">

<h1>Áreas de atuação</h1>

<div class="txt-full">
	<div class="txt-left">
		<h3>PENAL E PROCESSUAL PENAL</h3>
		Defesas, assessoria e consultoria <br><br>
		Varea e Dionisio Advogados tem suas raízes no direito penal e processual penal. Nesta toada, atua no que pertine desde procedimentos investigatórios até os mais complexos processos criminais, assessorando consultiva e preventivamente pessoas físicas e jurídicas em âmbito nacional e internacional.
	</div>

	<div class="txt-right">
		Dentre os mais diversos sub-ramos, destacam-se em nossa atuação:
		<br><br>

		- Crimes de competência do Tribunal do Juri <br>
		- Crimes contra o sistema financeiro <br>
		- Crimes contra as relações de consumo <br>
		- Crimes contra a ordem econômica <br>
		- Crimes contra o mercado de capitais <br>
		- Crimes contra a propriedade intelectual <br>
		- Lavagem de dinheiro <br>
		- Crimes contra a Administração Pública <br>
		- Crimes falimentares <br>
		- Crimes contra o meio Ambiente <br>
		- Crimes contra a ordem tributária <br>
		- Crimes contra a ordem previdenciária <br>
		- Crimes contra a organização do trabalho <br>
		- Crimes contra a saúde pública <br>
		- Acordos de colaboração premiada <br>
		- Acordos de leniência <br>
	</div>
	<br clear="all">
</div>

<div class="txt-full">
	<div class="txt-left">
		<h3>CIVIL E PROCESSO CIVIL</h3>
		Disputas, obrigações, danos e bens
		<br><br>
		Considerado o maior ramo do direito privado, o direito civil regula as relações jurídicas entre pessoas físicas e jurídicas, objetivamente, visando alcançar um equilíbrio de condições.
	</div>

	<div class="txt-right">
		Neste entendimento, atuamos nos mais diversos diversos sub-ramos, destacando-se: 
		<br><br>
		- Posse e Propriedade <br>
		- Ações indenizatórias por Danos Morais e Materiais <br>
		- Elaboração e discussão de Contratos <br>
		- Falên¬cias e Recuperação Judicial e Extrajudicial <br>
		- Cobrança de Dívidas e Recuperação de Créditos <br>
		- Registro Civil e Imobiliário <br>
		- Mudança de Nome e Retificação de Registro <br>
		- Direito Imobiliário <br>
	</div>
	<br clear="all">
</div>

<div class="txt-full">
	<div class="txt-left">
		<h3>TRABALHISTA</h3>
		Reclamações, defesas e políticas de trabalho
		<br><br>
		Representamos clientes nacionais e estrangeiros em disputas trabalhistas. além de prestar consultoria em recursos humanos, no que tange a contratações, rescisões, contratos, outsourcing e demais matérias correlatas.
	</div>

	<div class="txt-right">
		Dentre elas:
		<br><br>
		- Reclamações trabalhistas <br>
		- Defesas pela parte reclamada <br>
		- Recursos <br>
		- Assistência em matéria de imigração <br>
		- Obtenção de vistos e autorizações de trabalho <br>
	</div>
	<br clear="all">
</div>

<div class="txt-full last">
	<div class="txt-left">
		<h3>FAMÍLIA E SUCESSÕES</h3>
		União, dissolução, inventário e disputas.
		<br><br>
		Os chamados fenômenos familiares e sucessórios emergem do direito civil, repercutindo enormemente no âmbito social. Trata-se de uma área onde exige-se do profissional percepções estratégicas e equânimes, visando a perpetuação pacífica das relações familiares e sucessórias.
	</div>

	<div class="txt-right">
		Nesta abordagem, atuamos nas mais variadas espécies deste ramo, destacando-se: 
		<br><br>
		- Alimentos (pedido de concessão, revisão, exoneração e execução) <br>
		- Casamento (regime de bens e pacto antenupcial) <br>
		- Vínculos de filiação em relações homofóbicas e multiparentais <br>
		- Divórcio <br>
		- Doação <br>
		- Guarda e regulamentação de visita de menores <br>
		- Interdição <br>
		- Planejamento familiar e sucessório <br>
		- Inventário e arrolamento <br>
		- Filiação (adoção e investigação de paternidade) <br>
		- Medida cautelar de arrolamento de bens <br>
		- Medida cautelar de separação de corpos <br>
		- Partilha de bens <br>
		- Testamentos <br>
		- Tutela <br>
		- União estável (reconhecimento e dissolução) <br>
	</div>
	<br clear="all">
</div>

</div>
<br clear="all">
<img src="<?=CSS_PATH?>/img/img-atuacao.jpg" alt="Áreas de atuação" class="img-atuacao">

</section>