<section id="o-escritorio"><div class="main-center">

<div class="txt-left">
	<h1>O escritório</h1>
</div>

<div class="txt-right">
	<p>Varea & Dionisio Advogados tem por compromisso preliminar representar seus clientes com ética e profissionalismo, sempre buscando os melhores meios de resolução de seus casos.</p>
	<p>Nosso escritório concentra-se na atuação consultiva e contenciosa do direito penal, processual penal, civil, processual civil, trabalhista, empresarial, família e sucessões e ambiental, em observância às suas mais diversas subdivisões e especialidades que se relacionam.</p>
</div>

<br clear="all">
</div></section>