    <div id="banner-ads" class="<?=$this->classAds ? $this->classAds : ''?>">
        <h3 class="titulo">Apoiadores:</h3>
        <a href="http://phrf.adv.br/" class="ad" id="ad-1" title="Paulo Hamilton" target="_blank">
            <img src="<?=IMG_URL.'/ads/calhau-phrf.png'?>" alt="Paulo Hamilton">
        </a>
        <a href="http://vmradvocacia.com.br/" class="ad" id="ad-2" title="VMR" target="_blank">
            <img src="<?=IMG_URL.'/ads/calhau-vmr.png'?>" alt="VMR">
        </a>
        <?/*<a href="#" class="ad" id="ad-1" title="Anúncio 1">
            <img src="https://via.placeholder.com/290x350">
        </a>
        <a href="#" class="ad" id="ad-2" title="Anúncio 2">
            <img src="https://via.placeholder.com/290x130">
        </a>
        <a href="#" class="ad" id="ad-3" title="Anúncio 3">
            <img src="https://via.placeholder.com/290">
        </a>
        <a href="#" class="ad" id="ad-4" title="Anúncio 4">
            <img src="https://via.placeholder.com/290x130">
        </a>
        <a href="#" class="ad" id="ad-5" title="Anúncio 5">
            <img src="https://via.placeholder.com/290x130">
        </a>*/?>
    </div>