<?=Js::script('MAX_SIZE = '.($this->MAX_SIZE).'*1048576;')?>
<?=Js::script('allow_photos = '.($this->allow_photos ? 'false' : 'false').';')?>
<div class="content-right">
<? if($this->id && $this->allow_photos){ $this->fotos_in_text = false; ?>
    <div id="fotos">
        <?=$this->render($this->section.'/fotos.phtml');?>
    </div>
<? } ?>

<? if($this->id){ ?>
<div id="mailling">
    <iframe src="<?=URL?>/admin/mailling-list?tipo=3&iframe=1&arquivo_id=<?=$this->id?>" frameborder="0"></iframe>
</div>
<? } // /if $this->id ?>
</div>

<div id="form-new">
    <form action="<?=$this->form->getAction();?>" method="<?=$this->form->getMethod();?>" id="<?=$this->form->getId();?>" class="<?=$this->form->getId();?>" enctype="multipart/form-data">
        <ul>
            <? foreach($this->form->getElements() as $elm){ ?>

            <? if($elm->getId()=='file' && (bool)trim(@$this->row->path)){ ?>
            <li class="file">
                <label for="">&nbsp;</label>
                <a href="<?=FILE_URL.'/publicacoes/'.$this->row->path?>" target="_blank">Visualizar arquivo atual &rarr;</a>
            </li>
            <? } // /if $elm->getId()=='file' ?>

            <li class="<?=$elm->getAttrib("class")?>">
                <? if($elm->getId() != "submit"){ ?>
                <label for="<?=$elm->getId()?>"><?=$elm->getLabel()?></label>
                <? } ?>
                
                <?=$elm->render()?>
            </li>
            <? } ?>
        </ul>
        <div class="bt-container">
            <input type="submit" class="bt" value="<?=$this->id?'Salvar':'Criar'?>" id="submit" />
        </div>
    </form>
</div>