<h1><span><?=$this->titulo?></span></h1>

<div class="content-text" id="professores-list">
    <? foreach($this->professores as $row){ ?>
    <a href="<?=URL.'/professores/'.$row->alias.'-'.$row->id?>" class="professor">
    	<?=$row->titulo?>
    </a>
    <? } // /foreach this->professores ?>
</div>