<h1><span><?=$this->titulo?></span></h1>

<div class="content-text" id="professores-interna">
    <? $row = $this->professor; ?>

    <? if((bool)trim($row->foto_path)){ ?>
    <? $img_url = IMG_URL.'/professores/'.$row->foto_path; ?>
    <picture class="img">
    	<img src="<?=$img_url?>" alt="Imagem de <?=$row->titulo?>">
    </picture>
    <? } // /if (bool)trim($row->foto_path) ?>

    <a href="#" class="professor">
    	<?=$row->titulo?>
    </a>

    <div class="body">
    	<?=$row->body?>
    </div>
</div>