<h1><span><?=$this->titulo?></span></h1>

<div class="content-text" id="cursos-list">
    <span class="agende">AGENDE-SE PARA OS PRÓXIMOS GRUPOS DE ESTUDOS</span>

	<? foreach($this->rows as $row){ ?>
	<? $grupo_url = URL.'/grupos/'.$row->alias.'-'.$row->id; ?>
	<? $img_url = (@$row->foto) ? IMG_URL.'/grupos/'.$row->foto : null; ?>
	<a href="<?=$grupo_url?>" class="curso <?=($img_url) ? 'has-img' : ''?>">
		<span class="data">
			<? $dt = explode('-', $row->data); ?>
			<span class="dia"><?=$dt[2]?></span>
			<span class="mes"><?=@$this->date($row->data,'MMM')?></span>
			<span class="ano"><?=$dt[0]?></span>
		</span>
		<? if(@$row->foto){ ?>
		<figure class="img" style="background-image:url(<?=$img_url?>)">
			<img src="<?=$img_url?>">
		</figure>
		<? } // /if @$row->foto ?>
		<span class="horario"><?=$row->horario?></span>
		<? if(@$row->professor){ ?>
		<span class="professor">Mediador: <?=$row->professor->titulo?></span>
		<? } // /if @$row->professor ?>
		<span class="titulo"><?=$row->titulo?></span>
	</a>
	<? } // /foreach this->rows ?>
</div>