<? $pag = $this->pagina; ?>

<h1><span><?=$this->titulo?></span></h1>

<div class="content-text">
	<div class="texto1">
		<? if(trim($pag->fotos_fixas->foto1)){ ?>
		<picture class="img">
			<img src="<?=IMG_URL.'/paginas/'.$pag->fotos_fixas->foto1?>" alt="<?=$pag->titulo?>">
		</picture>
		<? } // /if trim($pag->fotos_fixas->foto1) ?>

		<div class="body">
			<?=$pag->body?>
		</div>
	</div>

	<div class="texto2">
		<div class="body">
			<?=$pag->body2?>
		</div>
	</div>
</div>