<h1><span><?=$this->titulo?></span></h1>

<div class="content-text" id="cursos-interna">
    <? $row = $this->row; ?>
	<? $curso_url = '#';//URL.'/cursos/'.$row->alias.'-'.$row->id; ?>
	<? $img_url = (@$row->foto) ? IMG_URL.'/cursos/'.$row->foto : null; ?>
	<a href="<?=$curso_url?>" class="curso <?=($img_url) ? 'has-img' : ''?>">
		<span class="data">
			<? $dt = explode('-', $row->data); ?>
			<span class="dia"><?=$dt[2]?></span>
			<span class="mes"><?=@$this->date($row->data,'MMM')?></span>
			<span class="ano"><?=$dt[0]?></span>
		</span>
		<? if(@$row->foto){ ?>
		<figure class="img" style="background-image:url(<?=$img_url?>)">
			<img src="<?=$img_url?>">
		</figure>
		<? } // /if @$row->foto ?>
		<span class="titulo"><?=$row->titulo?></span>
	</a>

	<div class="dados">
		<span class="horario"><?=$row->horario?></span>
		<? if(@$row->professor){ ?>
		<span class="professor"><?=$row->professor->titulo?></span>
		<? } // /if @$row->professor ?>
	</div>

	<div class="body">
		<?=$row->body?>
	</div>

	<br clear="all">
	<br clear="all">
	<hr class="a">
	<br clear="all">

	<div class="objetivos">
		Objetivos<br>
		dos cursos<br>
		de extensão
	</div>

	<div class="body">
		<?=$row->body2?>
	</div>
	
	<br clear="all">
	<br clear="all">
</div>