<?
$js_path  = SCRIPT_MIN == 'load' ? JS_PATH.'/'  : '';
$css_path = SCRIPT_MIN == 'load' ? CSS_PATH.'/' : '';
$script_min = SCRIPT_MIN;
$js  = array($js_path.'libs.js',$js_path.'layout.js');;//,$js_path.'alert2.js');//,$js_path.'is.shop.js');
$css = array($css_path.'global.less');

if(!$this->meta_description) $this->meta_description = SITE_DESCRIPTION;
if(!$this->meta_keywords) $this->meta_keywords = defined('SITE_KEYWORDS') ? SITE_KEYWORDS : Is_Str::text2keywords($this->meta_description);

$page_title = '';
if(isset($this->titulo)){
    $page_title.= $this->titulo." - ";
    $page_title.= SITE_TITLE;
} else { 
    $page_title.= $this->controller != 'index'?ucfirst(Is_Str::subsCaracteres($this->controller," "))." - ":''; 
    $page_title.= SITE_TITLE;
}
?>

<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title><?=$page_title?></title>
<meta name="description" content="<?=$this->meta_description?>" />
<meta name="keywords" content="<?=$this->meta_keywords?>" />
<meta name="robots" content="index, follow" />
<? if($this->meta_canonical){ ?>
<link rel="canonical" href="<?=$this->meta_canonical?>" />
<? } ?>

<meta property="og:url" content="<?=$this->meta_og_url?$this->meta_og_url:URL?>"/>
<meta property="og:title" content="<?=$this->meta_og_title?$this->meta_og_title:$page_title?>"/>
<meta property="og:description" content="<?=$this->meta_og_description?$this->meta_og_description:$this->meta_description?>"/>
<meta property="og:image" content="<?=$this->meta_og_image?$this->meta_og_image:URL.CSS_PATH.'/img/logotipo-share.png'?>"/>
<meta property="og:image:width" content="200" />
<meta property="og:image:height" content="200" />
<link rel="image_src" href="<?=$this->meta_og_image?$this->meta_og_image:URL.CSS_PATH.'/img/logotipo-share.png'?>" />

<? if(ENV_PRO){ ?>
<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<? } // /if ENV_PRO ?>

<script type="text/javascript">
var GLOBAL_URL = "<?=$this->url?>",
    URL        = "<?=URL?>",
    FULL_URL   = "<?=FULL_URL?>",
    ROOT_PATH  = "<?=ROOT_PATH?>",
    JS_PATH    = "<?=JS_PATH?>",
    CSS_PATH   = "<?=CSS_PATH?>",
    IMG_PATH   = "<?=IMG_PATH?>",
    DIR        = "<?=$this->section?>",
    MODULE     = "<?=$this->module?>",
    MODULO     = "<?=$this->modulo?>",
    CONTROLLER = "<?=$this->controller?>",
    ACTION     = "<?=$this->action?>",
    SCRIPT     = <?=Js::exists($js_path.$this->controller) ? "\"{$this->controller}\"" : 'false'?>,
    SITE_NAME  = "<?=SITE_NAME?>",
    APP_ENV    = <?=(APP_ENV) ? 'true' : 'false'?>,
    ENV_DEV    = <?=(ENV_DEV) ? 'true' : 'false'?>,
    ENV_PRO    = <?=(ENV_PRO) ? 'true' : 'false'?>,
    ENV_TEST   = <?=(ENV_TEST) ? 'true' : 'false'?>,
    APPLICATION_ENV = "<?=APPLICATION_ENV?>";

if(!SCRIPT) SCRIPT = <?=Js::exists($js_path.$this->controller.'-'.$this->action) ? '"'.$this->controller.'-'.$this->action.'"' : 'false'?>;
</script>

<?/*
<? $cssFonts = array(
    'Ubuntu:300,300i,400,400i,700,700i',
); ?>
<link href="https://fonts.googleapis.com/css?family=<?=implode('|',$cssFonts)?>" rel="stylesheet">
*/?>
<link rel="dns-prefetch" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">
<link rel="preload" href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,700,700i" as="fetch" crossorigin="anonymous">
<script type="text/javascript">
!function(e,n,t){"use strict";var o="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,700,700i",r="__3perf_googleFonts_3ffbd";function c(e){(n.head||n.body).appendChild(e)}function a(){var e=n.createElement("link");e.href=o,e.rel="stylesheet",c(e)}function f(e){if(!n.getElementById(r)){var t=n.createElement("style");t.id=r,c(t)}n.getElementById(r).innerHTML=e}e.FontFace&&e.FontFace.prototype.hasOwnProperty("display")?(t[r]&&f(t[r]),fetch(o).then(function(e){return e.text()}).then(function(e){return e.replace(/@font-face {/g,"@font-face{font-display:swap;")}).then(function(e){return t[r]=e}).then(f).catch(a)):a()}(window,document,localStorage);
</script>

<?=Css::$script_min($css).PHP_EOL?>
<!--[if lt IE 9]>
<?=Css::$script_min($css_path.'global-ie.css')?>
<?=Js::$script_min($js_path.'html5.js')?>
<![endif]-->
</head>
<body class=" body-<?=$this->controller?> body-<?=$this->controller.'-'.$this->action?> <?=($this->ajax ? 'ajax' : '')?>">

<?=$this->render("flash-messages.phtml");?>

<div class="main main-index main-<?=$this->controller?> main-<?=$this->controller.'-'.$this->action?> <?=($this->ajax ? 'ajax' : '')?>">
    <header id="top" class="top-<?=$this->controller?>">
        <div class="top-wrapper main-center">
        <button id="mobile-toggle" type="button" role="button" class="mobile">
            <span class="lines"></span>
        </button>
        <nav class="top-menu" id="top-menu">
            <?=$this->navigation()->menu($this->menu->top);?>
        </nav>
        <div id="top-container" class="main-center">
            <a class="site-title" href="<?=URL?>/" title="<?=SITE_TITLE?>"><?=SITE_TITLE?></a>
        </div>
        <br clear="all">
        </div>
    </header>
    
    <div id="content" class="content content-index content-<?=$this->controller?> content-<?=$this->controller.'-'.$this->action?>">
        <article><?=$this->layout()->content;?></article>
        <br clear="all" class="desktop" />
    </div>
</div>

<div class="foot foot-<?=$this->controller?> <?=($this->ajax ? 'ajax' : '')?>">
    <?/*<footer class="main-center">
        <nav class="footer-menu" id="footer-menu">
            <?=$this->navigation()->menu($this->menu->footer);?>
        </nav>
        <form action="<?=URL?>/contato/enviar" class="contato" id="form-contato-footer" method="post">
            <span class="titulo">Contato</span>
            <ul class="first">
                <li class="li-nome">
                    <input type="text" name="nome" id="nome" class="txt required" required placeholder="nome" />
                </li>
                <li class="li-email">
                    <input type="email" name="email" id="email" class="txt required" required placeholder="e-mail" />
                </li>
                <li class="li-telefone half half-1">
                    <input type="text" name="telefone" id="telefone" class="txt mask-cel" placeholder="telefone" />
                </li>
            </ul>
            <ul class="second">
                <li class="li-mensagem">
                    <textarea name="mensagem" id="mensagem" class="txt required" required placeholder="mensagem"></textarea>
                </li>
            </ul>
            <ul class="last">
                <li class="submit-container">
                    <p class="status"></p>
                    <a href="#" class="submit" title="Enviar">Enviar</a>
                    <input type="submit" class="hidden" value="Enviar">
                </li>
            </ul>
        </form>
        <div class="logo-tel">
            <img src="<?=CSS_PATH?>/img/logotipo2.png" alt="<?=SITE_NAME?>">
            <span class="tel"><?=$this->dados->tel1?></span>
        </div>
    </footer>*/?>

    <div class="credits">
        &copy; <?=date("Y")?> <?=SITE_TITLE?> - Todos os direitos reservados.
        <span class="desktop">|</span>
        <br class="mobile-cel">
        <a href="http://www.trupe.net" target="_blank">Criação de sites:</a>
        <a href="http://www.trupe.net" target="_blank">
            Trupe Agência Criativa. 
            <!-- <img src="<?=CSS_PATH?>/img/footer_icone-trupe.png" alt="Trupe Agência Criativa" title="Trupe Agência Criativa"> -->
        </a>
    </div>
</div>

<?=Js::$script_min($js).PHP_EOL?>

<? if(0 && ENV_PRO && defined('SITE_ANALYTICS')){ ?>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '<?=SITE_ANALYTICS?>']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<? } ?>

</body>
</html>