<section id="contato"><div class="main-center">

<h1>Contato</h1>

<div class="content-text">
    <div class="dados">
        <span class="txt-contato">
            CONTE COM A EXPERIÊNCIA DE NOSSA EQUIPE. <br>
            FALE CONOSCO PARA UMA CONSULTA.
        </span>
        <a class="tel" href="tel:+55<?=$this->dados->tel1?>"><?=$this->dados->tel1?></a>
        <a href="mailto:<?=$this->dados->email?>" class="email"><?=$this->dados->email?></a>

        <?=$this->dados->endereco?> <br>
        <?=$this->dados->bairro?> -
        <?=$this->dados->cidade?>, <?=$this->dados->estado?> -
        <?=Is_Format::cep($this->dados->cep)?> <br>
    </div>
    
    <form action="" class="contato" id="form-contato" method="post">
        <!-- <span class="titulo">Fale conosco</span> -->
        <ul class="first">
            <li class="li-nome">
                <input type="text" name="nome" id="nome" class="txt required" placeholder="nome" />
            </li>
            <li class="li-email">
                <input type="email" name="email" id="email" class="txt required" placeholder="e-mail" />
            </li>
            <li class="li-telefone half half-1">
                <input type="text" name="telefone" id="telefone" class="txt mask-cel" placeholder="telefone" />
            </li>
            <li class="li-mensagem">
                <textarea name="mensagem" id="mensagem" class="txt required" placeholder="mensagem"></textarea>
            </li>
            <li class="submit-container">
                <input type="submit" class="hidden" value="Enviar">
                <a href="#" class="submit">
                    Enviar
                </a>
                <p class="status"></p>
            </li>
        </ul>
    </form>

    <br clear="all" />

</div>

</div> <!-- .main-center -->

<? if(ENV_PRO||1){ ?>
<iframe id="mapa" src="https://maps.google.com/maps?q=<?=_parseEndereco($this->dados)?>&output=embed" width="100%" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
<? } ?>

</section>