<h1><span><?=$this->titulo?></span></h1>

<div class="content-text flex" id="publicacoes-list">
    <? for($j=0;$j<(ENV_DEV ? 3 : 1);$j++) { ?>
    <? $i=0; foreach($this->publicacoes as $row){ $i++; ?>
    <? $url = URL.'/publicacoes/'.$row->alias.'-'.$row->id; ?>
    <a href="<?=$url?>" class="publicacao">
    	<span class="titulo"><?=$row->titulo?></span>
    	<span class="autor"><?=$row->autor?></span>
    	<span class="view-container">
    		<span class="view">Visualizar</span>
    	</span>
    </a>
    <? } // /foreach this->publicacoes ?>
    <? } // /forj #repeat ?>
</div>