<h1><span><?=$this->titulo?></span></h1>

<div class="content-text flex" id="publicacoes-interna">
    <? $row = $this->publicacao; ?>
    <? $url = URL.'/publicacoes/'.$row->alias.'-'.$row->id; ?>
    <div class="publicacao-interna">
    	<span class="titulo"><?=$row->titulo?></span>
    	<span class="autor"><?=$row->autor?></span>
        <hr class="a">

        <div class="publicacao-dl-form" id="publicacao-dl-form-<?=$row->id?>">
            <span class="cad">CADASTRE-SE PARA ACESSAR AS PUBLICAÇÕES</span>

            <form action="<?=URL?>/publicacoes/enviar" class="frm-publicacao">
                <input type="text" class="txt" name="nome" placeholder="nome">
                <input type="email" class="txt" name="email" placeholder="e-mail">
                <input type="hidden" name="id" value="<?=$row->id?>">
                <input type="submit" class="submit" value="RECEBER PUBLICAÇÃO">
                <span class="status"></span>
            </form>

            <div class="publicacao-dl-confirm"></div>
        </div>
    </div>
</div>