<?=Js::script('var areas = '.json_encode(Application_Model_Db_Arquivos::area()).';')?>
<?=Js::load(JS_PATH."/admin/search.js");?>

<?=$this->render($this->section."/search.phtml");?>
<br clear="all" />

<div class="pousada search-result">
    <? if($this->lines){ ?>
    <table>
        <thead>
            <tr>
                <? if($this->tipo==2){ ?>
                <td width="100">Área</td>
                <td>Arquivo</td>
                <? } ?>
                <? if($this->tipo==3){ ?>
                <td>Arquivo</td>
                <? } ?>
                <td>Nome</td>
                <td width="200">E-mail</td>
                <!-- <td width="100">Telefone</td> -->
                <!-- <td width="200">Empresa</td> -->
                <!-- <td width="100">Perfil</td> -->
                <td width="100">Cadastrado em</td>
                <!--<td width="50">Excluir</td>-->
            </tr>
        </thead>
        <tbody>
            <? foreach($this->lines as $line){ ?>
            <? /*$data_cad = explode(" ",$line->data_cad);*/ ?>
            <? /*$data_cad = Is_Date::am2br($data_cad[0])." - ".substr(str_replace(":","h",$data_cad[1]),0,-3);*/ ?>
            <? $data_cad = Is_Date::am2brWithTime($line->data_cad); ?>
            <tr>
                <? if($this->tipo==2){ ?>
                <td><?=$line->area?></td>
                <td><?=$line->arquivo?></td>
                <? } ?>
                <? if($this->tipo==3){ ?>
                <td><?=$line->arquivo?></td>
                <? } ?>
                <td>
                    <!--<a href="<?=URL?>/admin/<?=$this->section?>/edit/id/<?=$line->id?>/"><?=$line->nome?></a>-->
                    <?=Is_Str::crop($line->nome,80)?>
                </td>
                <td>
                    <!--<a href="<?=URL?>/admin/<?=$this->section?>/edit/id/<?=$line->id?>/"><?=$line->email?></a>-->
                    <a href="mailto:<?=$line->email?>"><?=$line->email?></a>
                </td>
                <?/*<td>
                    <!--<a href="<?=URL?>/admin/<?=$this->section?>/edit/id/<?=$line->id?>/"><?=$line->telefone?></a>-->
                    <a href="tel:<?=$line->telefone?>"><?=Is_Format::tel($line->telefone)?></a>
                </td>*/?>
                <?/*<td>
                    <!--<a href="<?=URL?>/admin/<?=$this->section?>/edit/id/<?=$line->id?>/"><?=$line->empresa?></a>-->
                    <?=$line->empresa?>
                </td>
                <td>
                    <!--<a href="<?=URL?>/admin/<?=$this->section?>/edit/id/<?=$line->id?>/"><?=$line->perfil?></a>-->
                    <?=$line->perfil?>
                </td>*/?>
                <td>
                    <!--<a href="<?=URL?>/admin/<?=$this->section?>/edit/id/<?=$line->id?>/"><?=$data_cad?></a>-->
                    <?=$data_cad?>
                </td>
                <!--<td>
                    <a href="<?=URL?>/admin/<?=$this->section?>/del/id/<?=$line->id?>/" class="del">X</a>
                </td>-->
            </tr>
            <? } ?>
        </tbody>
    </table>
    <? } else { ?>
    Nenhum registro.
    <? } ?>
</div>